@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');



*, *::after{
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    margin: 0;
    padding: 0;
}



:root{
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --gray-blue: hsl(233, 8%, 62%);
    --light-gray-blue: hsl(220, 16%, 96%);
    --light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3, h4{
    color: var(--dark-blue);
    font-weight: 300;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.6rem;
}

h3{
    font-size: 1.2rem;
}

h2, h3, h4{
    margin-bottom: 1rem;
}

p{
    font-size: 0.9rem;
    line-height: 1.4;
    color: var(--gray-blue);
}

img{
    width: 100%;
}

button,
.showcase a{
    display: inline-block;
    padding: 0.8rem 2rem;
    border: 0;
    border-radius: 2rem;
    background: linear-gradient(38deg, var(--lime-green), var(--bright-cyan));
    color: var(--white);
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}
button:hover,
.showcase a:hover{
    transform: scale(1.1);
}
button:focus,
.showcase a:focus{
    outline: none;
}



body{
    position: relative;
    font-family: 'Public Sans', sans-serif;
    overflow-x: hidden;
}




/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    padding: 1rem;
    background-color: var(--white);
}

header .container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

header .logo{
    align-self: center;
    width: 50%;
}

header nav{
    align-self: center;
    text-align: center;
}

header .btn{
    align-self: center;
    text-align: right;
}

header nav li{
    display: inline;
    padding: 0 1rem;
}

header nav li a{
    color: var(--gray-blue);
    font-size: 0.8rem;
    transition: all 0.3s ease;
}
header nav li a:hover{
    color: var(--lime-green);
}





/* showcase */
.showcase{
    position: relative;
    background-color: var(--light-gray);    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 6rem 0;
}

.showcase_inner{
    padding: 6rem 0;
}

.showcase_inner > div{
    padding: 0 2rem;
}

.showcase .overlay{
    position: absolute;
    width: 70%;
    right: -250px;
}

.mock{
    position: absolute;
    top: 0;
    width: 50%;
    right: -100px;
    z-index: 2;
}

.showcase_inner p{
    font-size: 1rem;
    margin: 2rem 0;
}










.about,
.blog,
footer{
    padding: 4rem 0;
}







/* about */
.about{
    background-color: var(--light-gray-blue);
}

.about_top > div{
    padding: 2rem;
}


.about_bottom > div{
    padding: 1rem;
}

.about_bottom > div img{
    width: 30%;
    margin-bottom: 2rem;
}
/* ---------------- */


/* blog */
.blog{
    background-color: var(--light-gray);
}

.blog h2{
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

.article_one,
.article_two,
.article_three,
.article_four{
    border-radius: 0.5rem;
    background-color: var(--white);
    padding-bottom: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.article_one:hover,
.article_two:hover,
.article_three:hover,
.article_four:hover{
    box-shadow: 0 4px 10px #ccc;
    transform: scale(1.01);
}



.article_one .head{
    background: url(./images/image-currency.jpg) no-repeat center/cover;
}
.article_two .head{
    background: url(./images/image-restaurant.jpg) no-repeat center/cover;
}
.article_three .head{
    background: url(./images/image-plane.jpg) no-repeat center/cover;
}
.article_four .head{
    background: url(./images/image-confetti.jpg) no-repeat center/cover;
}

.head{
    height: 150px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}


.blog_inner span,
.blog_inner p,
.blog_inner h4{
    padding: 0 1rem;
}

.blog_inner span{
    display: block;
    font-size: 0.6rem;
    color: var(--gray-blue);
    margin: 1rem 0;
}

.blog_inner h4{
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.blog_inner p{
    font-size: 0.8rem;
}


.showcase_inner,
.about_top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 2rem;
}

/* -------------------------- */





.about_bottom,
.blog_inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 2rem;
    padding: 2rem 0;
}




footer{
    background-color: var(--dark-blue);
}

.footer_inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 2rem;
}

.footer_inner .home .logo{
    width: 50%;
    margin-bottom: 2rem;
}

.footer_inner .home li{
    display: inline;
    padding: 0 1rem;
}


.footer_inner .home li img{
    width: 5%;
}

.footer_inner > div + div{
    align-self: center;
    padding-left: 2rem;
}

.footer_inner > div + div li{
    margin-bottom: 0.5rem;
    color: var(--light-gray);
    font-size: 0.8rem;
    transition: all 0.3s ease;
    cursor: pointer;
}
footer li:hover{
    color: var(--lime-green) !important;
}

.footer_inner button{
    margin-bottom: 1rem;
}

.footer_inner p{
    font-size: 0.8rem;
}






























@media screen and (max-width: 1200px){

    
    .mock{
        right: 0;
        width: 55%;
    }



    header .btn{
        text-align: left;
    }

    .container{
        width: 90%;
    }

    header nav,
    header .btn{
        text-align: left;
    }

    .showcase{
        height: 40vh;
    }

    .about_bottom > div{
        padding: 0;
    }
    

    .footer_inner > div + div{
        padding-left: 1rem;
    }

    .footer_inner .home li{
        padding: 0 0.5rem;
    }
}



.menu-btn,
.close,
.menu{
    display: none;
}




.hide{
    display: none !important;
}

.show_menu{
    opacity: 0;
    animation: show 0.3s 0.1s ease forwards;
}
@keyframes show{
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.hide_menu{
    opacity: 1;
    animation: hide 0.3s 0.1s ease forwards;
}
@keyframes hide{
    100%{
        opacity: 0;
        transform: scale(0);
    }
}











@media screen and (max-width: 1000px){

    body{
        overflow: scroll;
    }

    header .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    header .logo{
        width: 60%;
    }

    .menu-btn{
        position: absolute;
        top: 1rem;
        right: 10%;
        display: block;
        width: 8%;
    }

    .close{
        position: absolute;
        top: 1rem;
        right: 10%;
        display: block;
        width: 4%;
    }

    .menu{
        display: block;
        position: fixed;
        top: 100px;
        left: 10%;
        width: 80%;
        text-align: center;
        z-index: 3;
        padding: 2rem;
        background-color: var(--white);
        border-radius: 0.5rem;
        box-shadow: 0 6px 100px var(--dark-blue);
        transform: scale(0);
    }
    .menu li{
        padding: 1rem 0;
    }
    .menu li a{
        font-size: 0.9rem;
        color: var(--dark-blue);
        transition: all 0.3s ease;
    }
    .menu li a:hover{
        color: var(--lime-green);
    }
    
    
    
    header nav,
    header .btn{
        display: none;
    }

    
    .about_bottom
    .blog_inner{
        grid-template-columns: repeat(2, 1fr);
    }

    
    .container{
        width: 90%;
    }


    .showcase{
        text-align: center;
        padding: 30rem 0;
    }

    .showcase_inner{
        display: block;
        margin-top: 25rem;
    }

    .showcase .overlay{
        width: 100%;
        right: 0;
        top: -300px;
    }
    
    .mock{
        top: -80px;
        width: 50%;
        right: 25%;
    }
    

    .about,
    .blog,
    footer{
        padding: 4rem 0;
    }

    .about_top{
        display: block;
        text-align: center;
    }
    
    .about_bottom,
    .blog_inner{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        padding: 0;
        text-align: center;
    }

    .footer_inner .links{
        display: none;
    }

    .footer_inner .home .logo{
        width: 40%;
        padding-bottom: 2rem;
        margin: auto;
    }

    .footer_inner{
        grid-template-columns: none;
        grid-gap: 4rem 0;
        text-align: center;
    }
}




















@media screen and (max-width: 690px){


    .container{
        width: 80%;
    }
    


    header .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    header .logo{
        width: 80%;
    }

    .about_bottom
    .blog_inner{
        grid-template-columns: none;
    }


    .showcase .overlay{
        width: 100%;
        right: 0;
        top: -100px;
    }
    
    .mock{
        top: -50px;
        width: 60%;
        right: 20%;
    }

    .showcase_inner{
        margin-top: 12rem;
    }
    
    .showcase_inner h1{
        font-size: 2rem;
    }

    .showcase_inner p{
        font-size: 0.9rem;
    }
    
    .showcase_inner > div{
        padding: 0;
    }

    .showcase_inner .text{
        margin-top: 4rem;
    }

    .about,
    .blog,
    footer{
        padding: 4rem 0;
    }

    .about_top{
        display: block;
        text-align: center;
    }
    
    .about_bottom,
    .blog_inner{
        grid-template-columns: none;
        grid-gap: 2rem 0;
    }
    
    
    
    
}




@media screen and (max-width: 500px){
    
    .showcase .overlay{
        width: 100%;
        right: 0;
        top: -50px;
    }

    .mock{
        right: 15%;
        width: 70%;
    }

    .showcase{
        padding: 25rem 0;
    }
    
    .showcase_inner{
        margin-top: 0;
    }
    
}





@media screen and (max-width: 430px){
    .container{
        width: 90%;
    }
}